body{
  background-image: url("img/bg.jpg");
  background-position: center;
  background-repeat: no-repeat;
}

button{
  padding:0.2em;
}

.coming-soon{
  margin-top: 30px;
  font-family: sans;
  font-size: 32pt;
}

.tag{
  margin-top: 100px;
  margin-bottom: 20px;
  font-size: 18pt;
  line-height: 1.1em;
}

.info{
  margin-bottom: 10px;
}

input{
  background-color: white !important;
}

.column{
  vertical-align: bottom;
}

button{
  background-color: #2B9DCB !important;
  border: none !important;
}

.container{
  max-width: 800px;
}
